.appStore-bg {
  min-height: 100vh;
  max-height: auto;
  background: linear-gradient(to bottom, #fff1eb, #ace0f9);
  font-family: 'Bree Serif';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #1e293b;
  font-size: 36px;
}

.search-input-box {
  height: 30px;
  width: 350px;
  border: 1px solid #7b8794;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-input {
  height: 30px;
  width: 300px;
  background: none;
  border: none;
  outline: none;
  padding-left: 10px;
}

.icon-box {
  height: 30px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-icon {
  height: 20px;
}

.tabs-container {
  height: 40px;
  width: 280px;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.appItem-container {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  gap: 20px;
}
