.app-item {
  height: 120px;
  width: 120px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appImg {
  height: 60px;
}

.app-name {
  margin: 0;
  margin-top: 5px;
  color: #1e293b;
}
